
.table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-cell{
    -fx-border-color: transparent;
}

.table-row-cell:odd:selected{
    -fx-background-color: #862CE4;
    -fx-background-radius: 5px;
}
.table-row-cell:even:selected{
    -fx-background-color: #862CE4;
    -fx-background-radius: 5px;
}

.table-row-cell:odd{
    -fx-background-color: white;
    -fx-text-fill: black;
}
.table-row-cell:even {
    -fx-background-color: white;
    -fx-text-fill: black;
}


