.root {
    -fx-background-color: #006466;
}
.button{
    -fx-background-color: #00DDE0;
    -fx-border-style: none;
    -fx-text-align: center;
    -fx-font-size: 12px;
    -fx-alignment: center-left;
    -fx-blend-mode: color-burn;
    -fx-border-radius: 3px;

}
.text-field{

    -fx-border-radius: 5px;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0px;
    -fx-blend-mode: lighten ;
}

#magnifierBox{
    -fx-background-image: url("../images/magnifier.png");
    -fx-background-repeat: no-repeat;
}

